<!DOCTYPE html>
<html lang="{{ article.lang }}">
    <head>
        <title>{{ article.title }} ‒ paedubucher.ch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <div class="backlink"><a href="../index.html">paedubucher.ch</a></div>
        <h1 class="title">{{ article.title }}</h1>
        {% if article.subtitle %}
        <h2 class="subtitle">{{ article.subtitle }}</h2>
        {% endif %}
        <h3 class="author">{{ article.author }}</h3>
        <h3 class="date">{{ article.date_fmt }}</h3>
        <div class="content">{{ article.content }}</div>
    </body>
</html>
