<!DOCTYPE html>
<html>
    <head>
        <title>{{ article.title }} ‒ paedubucher.ch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <p><a href="../index.html">paedubucher.ch</a></p>
        <h1>{{ article.title }}</h1>
        <p><em>{{ article.author }}</em>, {{ article.date }}</p>
        <div>{{ article.content }}</div>
    </body>
</html>
