<!DOCTYPE html>
<html lang="{{ article.lang }}">
    <head>
        <title>{{ article.title }} ‒ paedubucher.ch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ article.author }}">
        <link rel="stylesheet" type="text/css" href="../style.css">
    </head>
    <body>
        <header class="backlink"><a href="../index.html">paedubucher.ch</a></header>
        <main>
            <h1 class="title">{{ article.title }}</h1>
            {% if article.subtitle %}
            <h2 class="subtitle">{{ article.subtitle }}</h2>
            {% endif %}
            <p class="author-date">{{ article.author }}, {{ article.date_fmt }}</p>
            <div class="content">{{ article.content }}</div>
        </main>
        <footer class="backlink"><a href="index.html">© 2023 by Patrick Bucher</footer>
    </body>
</html>
