<!DOCTYPE html>
<html>
    <head>
        <title>paedubucher.ch</title>
        <meta charset="utf-8">
        <meta name="author" content="Patrick Bucher">
        <meta name="description" content="Personal website of Patrick Bucher with articles on various topics in German and English.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Article Feed" />
    </head>
    <body>
        <h1>paedubucher.ch</h1>
        <p class="slogan"><cite>Move slow and try to understand things</cite></p>
        <ul id="articles">
            {% for article in articles %}
            <li lang="{{article.lang}}">
                <span class="tt">{{ article.date_raw }}</span>
                ({{article.lang}})
                <a href="{{article.href}}">{{article.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
