body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #23373b;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: #23373b;
    color: #fafafa;
    text-align: center;
    line-height: 1.25;
    padding: 1em 0;
    font-size: 90%;
}

header a, footer a {
    color: #fafafa;
}

main {
    margin: 0 auto;
    padding: 1em;
    min-width: 20em;
    max-width: 50em;
}

a:link, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.nav li {
    margin: 0.5em 0;
}

p {
    font-family: serif;
    text-align: justify;
    hyphens: auto;
}

.content h1 {
    font-size: 160%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.content h2 {
    font-size: 140%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.content h3 {
    font-size: 120%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1.title {
    font-size: 200%;
    text-align: center;
}

h2.subtitle {
    font-size: 120%;
    text-align: center;
}

p.author-date {
    text-align: center;
    margin-bottom: 2em;
}

li {
    text-align: justify;
    font-family: serif;
    hyphens: auto;
}

div.content:after {
    display: block;
    content: "â¦";
    text-align: center;
    padding: 2em 0 4em 0;
}

.tt, code {
    font-family: monospace;
}

pre, pre>code {
    color: #fafafa;
    background-color: #23373b;
}

pre {
    padding: 1em;
    border-radius: 0.5em;
    overflow-x: auto;
}

pre>code {
    padding: 0;
}

blockquote {
    font-style: italic;
}

blockquote em {
    font-style: normal;
}

hr {
    margin: 2em auto;
    width: 5em;
}
