@font-face {
    font-family: "Crimson Pro";
    src: url("fonts/CrimsonPro-Regular.woff");
}

@font-face {
    font-family: "Crimson Pro";
    src: url("fonts/CrimsonPro-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("fonts/CrimsonPro-SemiBold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Crimson Pro";
    src: url("fonts/CrimsonPro-SemiBoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.woff");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Italic.woff");
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-BoldItalic.woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inconsolata";
    src: url("fonts/Inconsolata-Regular.woff");
}

@font-face {
    font-family: "Inconsolata";
    src: url("fonts/Inconsolata-SemiBold.woff");
    font-weight: bold;
}
