body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 1em;
    min-width: 20em;
    max-width: 50em;
    line-height: 1.5;
    color: #23373b;
    background-color: #fafafa;
}

a:link, a:active, a:hover {
    color: #00f;
}

a:link {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

a:visited {
    color: #66f;
    text-decoration: none;
}

ul#articles {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#articles li {
    margin: 0.5em 0;
}

p, li {
    font-family: serif;
    text-align: justify;
    hyphens: auto;
}

h1.title {
    text-align: center;
}

h2.subtitle {
    text-align: center;
    font-size: 120%;
}

h3.author, h3.date {
    text-align: center;
    font-size: 100%;
    font-weight: normal;
}

div.content {
    margin-top: 2em;
}

div.content:after {
    display: block;
    content: "â¦";
    text-align: center;
    padding: 2em 0 4em 0;
}

div.backlink {
    font-size: 80%;
    margin: 0 0 1em 0;
}

.tt {
    font-family: monospace;
}

code {
    background-color: #dfdfdf;
    padding: 2pt;
    border-radius: 2pt;
}

pre {
    background-color: #dfdfdf;
    padding: 1em;
    border-radius: 0.5em;
}

pre>code {
    padding: 0;
}
