body {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 0 auto;
    padding: 1em;
    min-width: 20em;
    max-width: 55em;
    line-height: 1.5;
    color: #23373b;
    background-color: #fafafa;
}

a:link, a:visited {
    text-decoration: none;
}

a:active, a:hover {
    text-decoration: underline;
}

p.slogan {
    margin-bottom: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0.5em 0;
}

p {
    font-family: serif;
    text-align: justify;
    hyphens: auto;
}

li {
    font-family: serif;
    hyphens: auto;
}

h1 {
    font-size: 20pt;
    margin-top: 30pt;
}

h2 {
    font-size: 16pt;
    margin-top: 24pt;
}

h3 {
    font-size: 12pt;
    margin-top: 18pt;
}

h1.title {
    text-align: center;
    font-size: 24pt;
    margin-top: 0;
}

h2.subtitle {
    text-align: center;
    font-size: 16pt;
    margin-top: 0;
}

h3.author, h3.date {
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
    margin-top: 0;
}

div.content {
    margin-top: 2em;
}

div.content:after {
    display: block;
    content: "â¦";
    text-align: center;
    padding: 2em 0 4em 0;
}

div.backlink {
    font-size: 80%;
    margin: 0 0 2em 0;
}

.tt, code {
    font-family: monospace;
}

pre, pre>code {
    color: #fafafa;
    background-color: #23373b;
}

pre {
    padding: 1em;
    border-radius: 0.5em;
    font-size: 90%;
}

pre>code {
    padding: 0;
}

blockquote {
    font-style: italic;
}

blockquote em {
    font-style: normal;
}

hr {
    width: 5em;
    margin: 2em auto;
}
